* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

body {
  font-family: monospace;
  display: flex;
  overflow-x: hidden;
  height: 100%;
  flex-direction: column;
}

#sidebar {
  width: 200px;
  background-color: #d6efd8;
  height: 100vh;
  position: fixed;
  transition: width 0.3s;
  overflow: hidden;
  border: 1px solid #393939;
}

#sidebar h2 {
  font-size: 25px;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #444;
}

#sidebar ul {
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#sidebar ul li {
  width: 100%;
  padding: 5px;
  text-align: center;
}

#sidebar ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 25px;
  color: #333;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 10px;
}

#sidebar ul li a:hover {
  background-color: #80af81;
  color: #f2eed7;
}

#content {
  margin-left: 200px;
  padding: 20px;
  transition: margin-left 0.3s;
  flex: 1;
  height: 100%;
}

.text {
  text-align: center;
  font-size: 25px;
}

#toggle-btn {
  font-size: 24px;
  background-color: #d6efd8;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid #393939;
}

#toggle-btn:hover {
  opacity: 60%;
}

#sidebar.collapsed {
  width: 0px;
}

#content.collapsed,
#footer.collapsed {
  margin-left: 0px;
}

#sidebar.collapsed h2,
#sidebar.collapsed ul li {
  display: none;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  text-align: center;
  justify-content: center;
}
